
.button {
    color: #0C0910;
    text-decoration: none;
    list-style: none;
    border-style:solid;
    border-color: #0C0910;
    border-width: 1px;
    padding: 1rem;
    font-size: 17px;
    text-align: center;
    font-weight: bold;
    font-family:  'Raleway', sans-serif;
  }
  

input {
	width: 15rem;
}

