
.header {
    background: #fff;
    color: #0C0910;
    width: 100%;
    margin: 0 auto;
    height: 90px;
}

.header {
    a {
        color: #0C0910;
        text-decoration: none;
    }
}
   
body {
    margin: 0;
}


