.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: #fff;
  color: #0C0910;
  width: 100%;
  margin: 0 auto;
  height: 90px;
}

.navigation_logo {
  background-color: #0C0910;
  color: #fff;
  padding: 27px;

  h1 {
    font-size: x-large;
    font-family:'Old Standard TT', serif;
    font-weight: bold;
  }

}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation ul li {
  display: inline-block;
}

.navigation ul li a {
  display: block;
  padding: 1rem 2rem;
  font-family:  'Raleway', sans-serif;
  font-weight: bold;
  font-size: large;
  color: #0C0910;

  &:hover {
    color: red;
 }

}

label {
  display: none;
}